<h1>Recommendations</h1>
<hr>
<input class='form-control input-lg' placeholder="What's on your mind? ...">
<hr>
<style type="text/css">
.profile {
	max-width: 50px;
}
</style>
<div class="media">
  <a class="pull-left" href="#">
    <img class="profile media-object" src="http://www.findthatlogo.com/wp-content/uploads/2011/07/chili-large-logo.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Chili's</h4>
    Chili's is a mexican food outlet. It originates back to the 1870s. It serves mexican food.
    <h4>Recommendations</h4>
    <div class="media">
	  <a class="pull-left" href="#">
	    <img class="profile media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/t1.0-1/c6.0.160.160/p160x160/1904108_10152010731916200_1833817899_n.jpg">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Yehia Abo El-Nga</h4>
	    This is an awesome restaurant. I would recommend it!!
	  </div>
	</div>
	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="profile media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/c3.0.160.160/p160x160/1780849_10152079058564965_180553920_n.jpg">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Ismail Makhlouf</h4>
	    It serves awesome rice, chicken, and some mexican food. The rice isn't good, though! Overall, it is very good.
	  </div>
	</div>
  </div>
</div>
<hr>
<div class="media">
  <a class="pull-left" href="#">
    <img class="profile media-object" src="http://www.findthatlogo.com/wp-content/uploads/2011/07/chili-large-logo.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Chili's</h4>
    Chili's is a mexican food outlet. It originates back to the 1870s. It serves mexican food.
    <h4>Recommendations</h4>
    <div class="media">
	  <a class="pull-left" href="#">
	    <img class="profile media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/t1.0-1/c6.0.160.160/p160x160/1904108_10152010731916200_1833817899_n.jpg">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Yehia Abo El-Nga</h4>
	    This is an awesome restaurant. I would recommend it!!
	  </div>
	</div>
	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="profile media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/c3.0.160.160/p160x160/1780849_10152079058564965_180553920_n.jpg">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Ismail Makhlouf</h4>
	    It serves awesome rice, chicken, and some mexican food. The rice isn't good, though! Overall, it is very good.
	  </div>
	</div>
  </div>
</div>