<style type="text/css">
.object { max-width: 300px; }
#prev { max-width: 900px;}
</style>
<div style='text-align: center;'>
	<img id="prev" src="">
</div>
<hr>
<div class='row'>
	<div class='col-xs-4'>
		<img class='object' src="http://www.awakin.org/pics/weekly/774-orig.jpg">
	</div>
	<div class='col-xs-4'>
		<img class='object' src="http://www.jattyouth.com/photobyusers/data/Natural/natural_tree_1024x768(jattyouth.com).jpg">
	</div>
	<div class='col-xs-4'>
		<img class='object' src="http://cdn.hdw9.com/wp-content/uploads/2013/07/best-natural.jpg">
	</div>
</div>
<hr>
<div class='row'>
	<div class='col-xs-4'>
		<img class='object' src="http://www.oregon.gov/ODA/NRD/PublishingImages/new_feature/river.jpg">
	</div>
	<div class='col-xs-4'>
		
	</div>
	<div class='col-xs-4'>
		
	</div>
</div>